<!-- Main -->
<main class="main" id="main">
  <!-- Hero -->
  <div
    class="hero_section"
    style="background-image: url('/images/hero-bg.webp')"
  >
    <div class="content_area">
      <div class="hero_content_wrapper">
        <div class="hero_content">
          <h1 class="h1">
            prescription medications
            <span class="d-block text_red">+</span> personalized nutrition
          </h1>
          <p>
            Get a custom program <br />designed for your whole health journey
            <br />& 1:1 consultations with nutritionists
          </p>
          <div class="coming_soon text_red">
            <h2 class="h2">Coming Soon!</h2>
            <p>
              Great things are coming for your personalized health! Stay tuned
              for our launch this <em>Winter 2024.</em>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="howitworks">
    <div class="content_area">
      <div class="howitworks_image">
        <img
          class="d-none d-sm-block"
          src="/images/how-it-works.gif"
          alt=""
          loading="lazy"
        />
        <img
          class="d-block mx-auto d-sm-none"
          src="/images/how-it-works-mbl.gif"
          alt=""
          loading="lazy"
        />
      </div>
    </div>
  </div>

  <div class="weight_loss_section">
    <div class="content_area">
      <div class="weight_loss_content">
        <div class="weight_loss_image">
          <img
            class="d-none d-sm-block"
            src="/images/weight-loss-image.webp"
            alt="weight loss image"
            loading="lazy"
          />
          <img
            class="d-block d-sm-none"
            src="/images/weight-loss-image-mbl.webp"
            alt="weight loss image"
            loading="lazy"
          />
        </div>
        <div class="weight_loss_textbox">
          <h2 class="h2 bold">weight loss</h2>
          <p>
            Nutrition is a vital part in maximizing the benefits of GLP-1s while
            managing potential side effects. Our nutritionists will partner with
            you to create personalized vitamin packs based on your needs.
          </p>
          <a href="./" class="primary_btn">learn more</a>
          <img
            src="/images/compound-mockup-transp.webp"
            alt=""
            loading="lazy"
          />
        </div>
      </div>

      <div class="weight_loss_content">
        <div class="weight_loss_textbox">
          <h2 class="h2 bold">women’s health</h2>
          <p>
            Science-backed solutions + supplements to improve wellbeing, mood
            and symptoms associated with menopause.
          </p>
          <a href="./" class="primary_btn">learn more</a>
        </div>
        <div class="weight_loss_image">
          <img
            class="d-none d-sm-block"
            src="/images/women-health-image.webp"
            alt="women health image"
            loading="lazy"
          />
          <img
            class="d-block d-sm-none"
            src="/images/women-health-image-mbl.webp"
            alt="women health image"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="wellness_journey">
    <div class="content_area">
      <div class="wellness_content">
        <div class="wellness_image">
          <img
            src="/images/wellness-journey-image.webp"
            alt=""
            loading="lazy"
          />
        </div>
        <div class="wellness_text">
          <h2 class="h2">
            get personalized nutrition as part of your wellness journey
          </h2>
          <ul>
            <li>start with a companion vitamin pack</li>
            <li>connect 1:1 with nutritionists</li>
            <li>customize your packs based on your health goals</li>
          </ul>
          <br />
          <a href="./" class="primary_btn">learn more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="customer_review_section">
    <div class="content_area">
      <div class="customer_review_content text-center">
        <h2 class="h2">what people are saying</h2>

        <div class="customer_review_text">
          <div class="single_qoute">
            <p>
              “Combining medications with personalized nutrition support has
              given me a healthier body.”
              <span class="d-block">&mdash; Cynthia</span>
            </p>
          </div>
        </div>

        <div class="customer_details">
          <div class="single_customer">
            <div class="customer_photo">
              <img
                data-lazy="/images/cynthia-photo.webp"
                alt="Cynthia Photo"
                loading="lazy"
              />
            </div>
            <div class="customer_name_weight">
              <h3 class="h3">Cynthia</h3>
              <p class="mb-0">Lost 35 lbs</p>
            </div>
          </div>
          <div class="single_customer">
            <div class="customer_photo">
              <img
                data-lazy="/images/jake-photo.webp"
                alt="Jake Photo"
                loading="lazy"
              />
            </div>
            <div class="customer_name_weight">
              <h3 class="h3">Jake</h3>
              <p class="mb-0">Lost 60 lbs.</p>
            </div>
          </div>
          <div class="single_customer">
            <div class="customer_photo">
              <img
                data-lazy="/images/michelle-photo.webp"
                alt="Michelle Photo"
                loading="lazy"
              />
            </div>
            <div class="customer_name_weight">
              <h3 class="h3">Michelle</h3>
              <p class="mb-0">Lost 28 lbs.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!---
  <div class="video_section py-5">
      <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/1019852588?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="karen_ad (1080p)"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  </div>--->

  <div class="rx_video_section">
    <img
      class="d-none d-md-block w-100"
      src="/images/person-cooking-cool-kitchen.webp"
      alt=""
      loading="lazy"
    />
    <img
      class="d-block d-md-none w-100"
      src="/images/person-cooking-cool-kitchen-mbl.webp"
      alt=""
      loading="lazy"
    />
    <div class="rx_video_overlay text-center">
      <h2 class="h2">The health journey of a happy customer</h2>
      <a
        href="https://player.vimeo.com/video/1019852588"
        class="play_btn video-play-btn"
      >
        <img
          src="/images/play-icon.svg"
          width="60"
          height="60"
          alt=""
          loading="lazy"
        />
        <span>watch the video</span>
      </a>
    </div>
  </div>

  <div class="faq_section">
    <div class="content_area">
      <div class="faq_content">
        <div class="faq_heading">
          <h2 class="h2">We can answer your questions.</h2>
          <p>
            Check out our
            <a href="./" class="text-decoration-underline">full list of FAQs</a
            >.
          </p>
        </div>
        <div class="faq_ques_ans">
          <div id="faqAccordion">
            <div class="card">
              <div class="card-header">
                <a
                  class="collapsed btn"
                  data-bs-toggle="collapse"
                  href="#faqs1"
                >
                  What medications does Tailored Med Rx carry?
                </a>
              </div>
              <div id="faqs1" class="collapse" data-bs-parent="#faqAccordion">
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="collapsed btn"
                  data-bs-toggle="collapse"
                  href="#faqs2"
                >
                  Are there side effects?
                </a>
              </div>
              <div id="faqs2" class="collapse" data-bs-parent="#faqAccordion">
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="collapsed btn"
                  data-bs-toggle="collapse"
                  href="#faqs3"
                >
                  Do you take insurance?
                </a>
              </div>
              <div id="faqs3" class="collapse" data-bs-parent="#faqAccordion">
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="collapsed btn"
                  data-bs-toggle="collapse"
                  href="#faqs4"
                >
                  How much will my prescription cost?
                </a>
              </div>
              <div id="faqs4" class="collapse" data-bs-parent="#faqAccordion">
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="collapsed btn"
                  data-bs-toggle="collapse"
                  href="#faqs5"
                >
                  Are the medications approved by the FDA?
                </a>
              </div>
              <div id="faqs5" class="collapse" data-bs-parent="#faqAccordion">
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="collapsed btn"
                  data-bs-toggle="collapse"
                  href="#faqs6"
                >
                  What is the difference between compounded and name brand
                  prescriptions?
                </a>
              </div>
              <div id="faqs6" class="collapse" data-bs-parent="#faqAccordion">
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
